/* Base style for location map */
.loc-map{
    -webkit-transform: translate3d(0, 0, 0);
}

    .loc-infowindow-loader.is-loading{
        width: 100%; height:50px;
    }

/* Base style for location teasers */
.loc-teaser{
    -webkit-transition: .5s background ease-in; padding: 10px 0 10px 20px; margin-left:-20px;
}
    .loc-teaser.is-hidden{
        display:none;
    }
    .loc-teaser:hover{
        background: #efefef;
    }

    .loc-teaser h3{
        margin-top: 0; margin-bottom: 0.6em;
    }

/* Locator search form */
.loc-srch{
    background: #eee; padding: 20px; margin-bottom: 20px;
}
    .loc-srch h4{
        margin: 0;
    }

    .loc-srch-form{

    }
        .loc-srch-s{
            width: 200px; padding: 5px;
        }

        .loc-srch-dis{
            width: 40px; padding: 5px;
        }


/* Locator search results */
.loc-srch-res{

}
    /* hide no results page by default */
    .loc-srch-res-noresults{
        display:none;
    }

    /* when no results are shown show no results and hide search; */
    .loc-srch-res.is-no-results .loc-srch-res-list, .loc-srch-res.is-no-results .loc-srch-res-map{
        display:none;
    }
    .loc-srch-res.is-no-results .loc-srch-res-noresults{
        display:block;
    }

    /* Map */
    .loc-srch-res-map-wrap{
        float:left;
        background: #fefefe; border: #ccc 1px solid; padding: 5px; margin-right: -10px;
    }
    .loc-srch-res-map-wrap.is-fixed{
        position:fixed; top:0; margin-left: 298px;
    }
        .loc-srch-res-map{
            width: 588px; height: 588px;
        }


    /* Teaser List */
    .loc-srch-res-list{
        float: left; width: 298px;  padding: 20px 0;
    }

/* Individual Location Page */
.loc-page{
    float:left; width: 100%; clear:both;
    margin-bottom: 20px;
}

    .loc-page-data{
        float: left; width: 385px;
    }
        .loc-page-data h2{
            margin-bottom: 10px;
        }
    .loc-page-map-wrap{
        float:left; background: #fefefe; border: #ccc 1px solid; padding: 5px;
    }
        .loc-page-map{
            width: 500px; height: 400px;
        }

/* Nearby Locations */
.loc-nearby{
    float:left; margin-top: 20px;
}
    .loc-nearby-item{
        display:inline-block; position: relative; vertical-align: top;
        width: 207px; margin-right: 20px; margin-bottom: 10px;
    }
        .loc-nearby-item .loc-teaser{
            padding-right: 20px;
        }
    .loc-nearby-item:nth-child(4n){
        margin-right:0;
    }

/* Loader styles */
.loader { display: none; width: 24px; height: 24px; text-indent: -9999px;}
.loader.is-loading { display: inline-block; background: url(../images/loader/loader-med.gif) center no-repeat; }
.loader-tiny { width: 10px; height: 10px; }
.loader-tiny.is-loading { background-image: url(../images/loader/loader-tiny.gif); }
.loader-sml { width: 16px; height: 16px; }
.loader-sml.is-loading { background-image: url(../images/loader/loader-sml.gif); }
.loader-lrg { width: 48px; height: 48px; }
.loader-lrg.is-loading { background-image: url(../images/loader/loader-lrg.gif); }
