<?xml version="1.0"?>
<!--
/**
 * Location extension for Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright 2013 Andrew Kett. (http://www.andrewkett.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      http://andrewkett.github.io/Ak_Locator/
 */
-->
<config>
    <tabs>
        <locator translate="label" module="ak_locator">
            <label>Locator</label>
            <sort_order>320</sort_order>
        </locator>
    </tabs>
    <sections>
        <locator_settings translate="label" module="ak_locator">
            <label>Settings</label>
            <tab>locator</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <google_maps translate="label">
                    <label>Google Maps</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key>
                            <label>Maps API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                    </fields>
                </google_maps>

                <search translate="label">
                    <label>Search</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_search_distance>
                            <label>Search Radius</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default radius of point based searches, e.g string search and lat long</comment>
                        </default_search_distance>

                        <!-- @todo why isn't this showing up? -->
                        <show_distance_filter>
                            <label>Show Distance Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Allow users to override default search radius in searches</comment>
                        </show_distance_filter>

                        <append_string_to_search>
                            <label>Append extra text to string searches</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </append_string_to_search>

                            <append_string>
                                <label>Extra search text</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <comment>E.g. If set to australia and a search is made for melbourne, a string of "melbourne australia" will be geocoded</comment>
                                <depends><append_string_to_search>1</append_string_to_search></depends>
                            </append_string>


                        <show_search_filter>
                            <label>Show Search Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_search_filter>

                        <show_distance_filter>
                            <label>Show Distance Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_distance_filter>




                        <use_default_search>
                            <label>Use default search if no search entered</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Should locator use a default search when no parameters are passed?</comment>
                        </use_default_search>

                            <default_search_params>
                                <label>Default Search Parameters</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>120</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <comment>Default value to show on search pages, e.g country=australia or s=melbourne&amp;distance=100</comment>
                                <depends><use_default_search>1</use_default_search></depends>
                            </default_search_params>

                            <use_customer_address>
                                <label>Use customer default address for default searches</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>130</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <comment>If enabled locator will attempt to geocode a customer billing address when no search params are passed</comment>
                                <depends><use_default_search>1</use_default_search></depends>
                            </use_customer_address>

                        <show_closest_on_noresults>
                            <label>Show closest location if no results are returned</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>135</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If no results are returned within a given radius of a point search, show the single closest store to that point</comment>
                        </show_closest_on_noresults>

                        <show_search_point>
                            <label>Show crosshair icon for point of search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>137</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If the search was a point search e.g lat/long, postcode/suburb, show the point of the search as a crosshair icon</comment>
                        </show_search_point>

                        <!--<use_places_autocomplete>-->
                            <!--<label>Use Google Places Autocomplete</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                            <!--<sort_order>140</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                        <!--</use_places_autocomplete>-->

                        <!--<overrides_enabled>-->
                            <!--<label>Enable search override feature</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                            <!--<sort_order>150</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<comment>Enabling will give administrators the ability to override a search string with different search parameters. e.g replace s=home with lat=312313&amp;long=23490320</comment>-->
                        <!--</overrides_enabled>-->

                        <leverage_browser_caching>
                            <label>Allow browser to cache ajax search results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If enabled ajax search results will be cached in the browser. This is feature is experimental and not recommended</comment>
                        </leverage_browser_caching>
                    </fields>
                </search>
                <seo>
                    <label>SEO</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <search_meta_title>
                            <label>Meta title on search page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_meta_title>

                        <search_meta_desc>
                            <label>Meta description on search page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_meta_desc>

                        <search_meta_key>
                            <label>Meta keywords on search page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_meta_key>

                        <location_url_suffix>
                            <label>Location url suffix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>will be appended to the end of location urls</comment>
                        </location_url_suffix>

                    </fields>
                </seo>

            </groups>
        </locator_settings>
    </sections>
</config>
